<html>

<head>
	<title><%= @user.name %></title>
</head>
<body>
	<a href='/users/professional_profile'>My Profile</a>
	<p><h3>Hi <%= @user.name %></h3></p>
	<p>Description: <%= @user.description %></p>
</body>
</html>